{% extends 'base.html' %}
{% load static %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <div class="row">
        <h2 class="center">Это главная страница</h2>
        <div class="col-3">
            <img class="cat" src="{% static 'image/app_main/cat_1.jpg' %}" alt="cat">
        </div>
        <div class="col-3 welcome_text center">
            {% for item in info %}
                <p>{{ item }}</p>
            {% endfor %}
        </div>
        <div class='col-3'>
            <img class="cat" src="{% static 'image/app_main/cat_2.jpg' %}" alt="cat">
        </div>
    </div>
{% endblock %}
