{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="table-caption">{{ title }}</div>
    <table id="table">
        <thead>
        <tr>
            {% for value in table_title %}
            {% if value != 'Редактор' %}
            <th>{{ value }}</th>
            {% else %}
            {% if user.judge.status == 'M' or user.judge.status == 'J' %}
            <th>{{ value }}</th>
            {% endif %}
            {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
        <tr>
            <td>{{ participant.last_name }}</td>
            <td>{{ participant.name }}</td>
            <td>{{ participant.competition }}</td>
            <td>{{ participant.team }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <div class="btn-col-3">
            <a href="{% url 'participants_list' filter='active' %}" class="btn a_btn">Активный конкурс</a>
        </div>
        <div class="btn-col-3">
            <a href="{% url 'participants_list' filter='all' %}" class="btn a_btn">Все участники</a>
        </div>
        <div class="btn-col-3">
            {% if user.judge.status == 'M' or user.judge.status == 'J' %}
            <a href="{% url 'add_participant' %}" class="btn a_btn">Добавить</a>
            {% else %}
            <a href="{% url 'participants_list' filter='all' %}" class="btn a_btn">Супер</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}