<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>
        {% block title %} Базовый шаблон {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'image/favicon.ico' %}"/>
</head>
<body>

<div class="wrapper">
    <header>
        <ul>
            <li>
                <a class="a_menu_logo " href="{% url 'home' %}">
                    <image class="logo" src="{% static 'image/femidalittle.png' %}">
                </a>
            </li>
            <li><a class="a_menu" href="{% url 'competition_result' %}">Итоги дня</a></li>
            <li><a class="a_menu" href="{% url 'all_competitions' %}">Конкурсы</a></li>
            <li><a class="a_menu" href="{% url 'all_judges' %}">Судьи</a></li>
            <li><a class="a_menu" href="#">Участники</a>
                <ul>
                    <li><a class="a_menu" href="{% url 'participants_list' %}">Список</a></li>
                </ul>
            </li>
            <li><a class="a_menu" href="{% url 'contacts' %}">Контакты</a></li>
            <li><a class="a_menu" href="{% url 'about' %}">Обо мне</a></li>
            <div class="container enter">
                {% if user.is_authenticated %}
                <div class="user_name">{{user.judge.get_status_display }} : {{ user.username }}</div>
                <a href="{% url 'users:logout' %}" class="btn a_btn">Выйти</a>
                {% else %}
                <a href="{% url 'users:login' %}" class="btn a_btn">Войти</a>
                <a href="{% url 'users:register' %}" class="btn a_btn">Регистрация</a>
                {% endif %}

            </div>
        </ul>
    </header>

    <main>
        {% block content %}
        <h2>Это базовый шаблон</h2>


        {% endblock %}
    </main>

    <footer>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}" {% endif %}>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </footer>
</div>
</body>
</html>